:root {
  --color-primary: #5e239d;
  --color-primary-accent: #311350;
  --color-secondary: #0f7173;
  --color-secondary-accent: #0c5455;
  --color-background: #deeef1;
  --color-background-secondary: #cdedf3;
  --color-text: #2a2a2a;
  --color-text-accent: #e4e4e4;
  --color-shadow: #5a373733;
}

body {
  background-color: var(--color-background);
  font-family: "Montserrat", sans-serif;
}
